#anyBody{

			text-align:center; /*For IE6 Shenanigans*/ 
                        height: 100%;
                        background: #FFFFFF;

		}

#pagewidth
		{
			background: #FFFFFF;
			width: 950px;
			
			border-radius:30px;
			border-style: solid;
			border-color: #000000;
			border-width: 1px;
			margin:auto;
			text-align:left;
		}
#header
		{
			border-top-right-radius:28px;
			border-top-left-radius:28px;
			background: #ffffff;
			color: #CC00CC;
			height: 30px;
			padding: 10px;
		}

#nav
		{
			background-color: #cccccc;
                        height:40px;
			float: left;
			width: 940px;
			border-top-left-radius:10px;
			border-top-right-radius:10px;
			border-bottom-left-radius:10px;
			border-bottom-right-radius:10px;
		}
                      /*--------- <<<<<<<<<<<<       >>>>>>>>>>>>>>>>> ------*/
#content
		{
		    background-color :#dddddd;
			border:1px solid #a1a1a1;			
			height:300px;			
			margin-left:220px;
			margin-top:60px;
			margin-bottom:20px;
			margin-right:5px;
			
			padding: 10px;
			border-radius:30px;
			
		}
                
        #cLinksDiv{
                 background-color:#F00000;
                 margin-top: 100px;
                 margin-left: 100px;                       
            
                }
                
        #otherDiv{
                    background-color:#F00000;
                    padding-top: 100px;
                    margin-left: 50px;
                    margin-right: 50px;
                }
  #navNav       {
                    
                 background-color:#BF3030;
                 margin-top: 5px;
                 margin-left: 200px; 
                 margin-right: 220px;   
                    
                }
		/*--------- <<<<<<<<<<<<       >>>>>>>>>>>>>>>>> ------*/
       #formDiv       {
                    
           
           margin-bottom: 10px;
           margin-left: 50px;        
                    
                    
                        }
    form {
			display: table;
			padding: 10px;
			border: thin dotted #7e7e7e;
			background-color: #e1ceb8;
			border-radius:20px;
		}


		div.tableRow {
			display: table-row;
		}
		div.tableRow p {
			display: table-cell;
			vertical-align: top;
			padding: 10px;
		}

		div.tableRow p:first-child {
			text-align: right;
		}
		
		
		
		
#sideNav
		{
		        background:#dddddd;
			border:2px solid #a1a1a1;			
			height:300px;	
                        
			margin-left:10px;
			margin-top:20px;
			margin-bottom:10px;
                        
			padding: 20px;				
			width:150px;			
			float:left;		
                        
			border-radius:30px;
			
		}
		
#navDiv      {                   
                    
               margin-top:80px;                     
                    
              }   

#clear
	{
		clear: both;
	}



#footer
	{   
	    border-radius:30px;
		color: #cccccc;
		background: #cccccc;
		height: 50px;
		padding: 10px;
	}
        
        
                ul                                /* From here down the css is for nav bar navagation on top */
            {
            list-style-type:none;
            margin:0;
            padding:0;
            overflow:hidden;
      
            }
            li
            {
          
           float:left;
            }
            a:link,a:visited
            {
            display:block;
            width:120px;
            font-weight:bold;
            
            font-family:Helvetica,sans-serif;
            color:#FFFFFF;
            background-color:#B00000;
            
            text-align:center;
            padding:4px;
            
            text-decoration:none;            
            text-transform:uppercase;
            }
            a:hover,a:active
            {
            background-color:#CCCCCC;
            }

                                                         /* From here down the css is for nav bar navagation at the side */

ul.sidemenu {
	padding: 0;
	margin: 0;
	list-style: none;
        
        font-weight: bold;
	font-family: Helvetica,sans-serif;	
	border-bottom: 1px solid #6F3E04;
        
	width: 100px;
	background-color: #EEEEDC;
}

ul.sidemenu li {
	border-top: 1px solid #6F3E04;
	border-left: 1px solid #6F3E04;
	border-right: 1px solid #6F3E04;
}

ul.sidemenu li a {
	text-decoration: none;
	display: block;
	width: 78px;
        
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 10px;
        
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.sidemenu li a:hover {
	background-color: #686868;
        color: #FFFFFF;
}
