/* 
    Document   : wel
    Created on : 13-Apr-2013, 17:28:15
    Author     : franks
    Description:
        Purpose of the stylesheet follows.
*/

#anyBody{
			text-align:center; /*For IE6 Shenanigans*/ 
                        height: 100%;
                        width: 100%;
                        background-color: #D6D6D6;
                        
                        
		}

#pagewidth
		{
                        background: #FFFFFF;
		        width: 870px;			                      
			border-style: solid;
			border-color: #000000;
			border-width: 2px;
			margin:auto;
			text-align:left;
		}
#header
		{
			color: #CC00CC;
			height: 135px;
			padding: 2px;
		}

#nav
		{
		
		        background:#d4d6d3;     
			
                        height:40px;
			float: right;
			width: 100%;                     
		}
                
#navNav       {
                    
                 background-color:#BF3030;
                 margin-top: 5px;
                 margin-left: 150px; 
                 margin-right: 200px;   
                    
                }
                
                      /*--------- <<<<<<<<<<<<       >>>>>>>>>>>>>>>>> ------*/
#content
		{
		       background-color :#dddddd;
			border:1px solid #a1a1a1;			
			height:400px;	                         
			margin-top:30px;
                        padding: 20px;
			                  			
		}
 #welcome       {
                    
                       margin-bottom:  100px;  
                    
                }
#logForm        {
                       padding-bottom :50px; 
                       width: 200px;
                } 
                
 #regClubDetails{
                        margin-top:10px;
                   
                 }
                
                
#showContent
		{
                    background:#d4d6d3;
	            border:2px solid #BEBDBD;
		    margin-top: 20px;		  
                    margin-left: 5px;
                    margin-right: 250px;
                    height: 350px;
                    padding-left: 100px;
                    padding-top: 20px;               
                                      
                  
                   				
	       }

#members       {
                  margin-right:50px; 
                    
               }

                
 #cLinksDiv{
                 background-color:#F00000;				 
                 margin-top: 100px;
                 margin-left: 20px;                       
                 margin-right: 300px;
                }
 table          {
     
                background-color:#F00000;
                font-family:"Verdana";
                color: #FFFFFF;
                font-weight: bold;   
                width: 400px;
                }
                
                
  #otherDiv{
                    background-color:#F00000;
                    padding-top: 100px;
                    margin-left: 50px;
                    margin-right: 50px;
                }	
		/*--------- <<<<<<<<<<<<       >>>>>>>>>>>>>>>>> ------*/
form            {
			display: table;
			padding: 10px;
			border: thin dotted #7e7e7e;
			background-color: #e1ceb8;
			border-radius:20px;
                        
		}
#formDiv        {                   
                    
                    
                         margin-left: 2px;
                         margin-top: 10px;                    
                    
                }
div.tableRow    {
			display: table-row;
		}
div.tableRow p {
			display: table-cell;
			vertical-align: top;
			padding: 10px;
		}

div.tableRow p:first-child {
			text-align: right;
		           }
#sideNav
		{
		        background:#d4d6d3;
			border:2px solid #BEBDBD;			
			height:300px;                        
			margin-left:600px;
			margin-top:65px;
			
                        padding-right: 20px;	
						
			width:190px;			
			float:right;			
			                    
			
		}
                
#navDiv          {                   
                    
                       margin-top:65px;                     
                    
                 }
                 
                 
#regDivOne       {
    
    
                       margin-right:200px;  
    
                     
                 }
                 
                 
#clear
	         {
		      clear: both;
	         }


#footer
	{   
	                                    
		    background:#d4d6d3;
	            border:2px solid #BEBDBD;
		    color: #000000;                
		    height: 35px;
		    padding: 10px;
		
	}
#ftext  {
	            margin-top:2px;
	            margin-left:300px;
	
	   }
	
        
   ul                                /* From here down the css is for nav bar navagation on top */
            {
                    list-style-type:none;
                    margin:0;
                    padding:0;
                    overflow:hidden;
		    border: 1px solid #6F3E04;
	        
      
               }
li
               {
          
	            border-left: 1px solid #6F3E04;	
float:left;
               }
            a:link,a:visited
               {
                   display:block;
                   width:120px;
                   font-weight:bold;            
                   font-family:Helvetica,sans-serif;
                   color:#FFFFFF;
                   background-color:#BF3030;            
                   text-align:center;
                   padding:4px;            
                   text-decoration:none;            
                   text-transform:uppercase;
              }
a:hover,a:active
              {
                    background-color:#d80000;
              }

                                                         /* From here down the css is for nav bar navagation at the side */

ul.sidemenu  {
	            padding: 0;
	            margin: 0;
	            list-style: none;
        
                    font-weight: bold;
	            font-family: Helvetica,sans-serif;	
	            border-bottom: 1px solid #6F3E04;
	            margin-left:30px;        
	            width: 150px;
	            background-color: #EEEEDC;
              }

ul.sidemenu li {
	           border-top: 1px solid #6F3E04;
	           border-left: 1px solid #6F3E04;
	           border-right: 1px solid #6F3E04;
               }

ul.sidemenu li a {
	          text-decoration: none;
	          display: block;
	          width: 150px;        
	          color: #FFFFFF;
	          font-weight: bold;
	          padding-left: 5px;        
	          padding-right: 30px;
	          padding-top: 10px;
	          padding-bottom: 10px;
                 }

ul.sidemenu li a:hover {
	         background-color: #d80000 ;
                 color: #ffffff;
                }

